doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title M/L
    body
        form(action="/select" method="post")
            input(type="hidden" name ="v" value="10대 여성")
            button 10대 여성

        form(action="/select" method="post")
            input(type="hidden" name ="v" value="10대 남성")
            button 10대 남성
        hr

        form(action="/select" method="post")
            input(type="hidden" name ="v" value="20대 여성")
            button 20대 여성
        form(action="/select" method="post")
            input(type="hidden" name ="v" value="20대 남성")
            button 20대 남성
        hr

        form(action="/select" method="post")
            input(type="hidden" name ="v" value="30대 여성")
            button 30대 여성
        form(action="/select" method="post")
            input(type="hidden" name ="v" value="30대 남성")
            button 30대 남성
        hr

        form(action="/select" method="post")
            input(type="hidden" name ="v" value="40대 여성")
            button 40대 여성
        form(action="/select" method="post")
            input(type="hidden" name ="v" value="40대 남성")
            button 40대 남성
        hr

        form(action="/select" method="post")
            input(type="hidden" name ="v" value="50대 여성")
            button 50대 여성
        form(action="/select" method="post")
            input(type="hidden" name ="v" value="50대 남성")
            button 50대 남성
        hr
        
        form(action="/select" method="post")
            input(type="hidden" name ="v" value="60대 여성")
            button 60대 여성
        form(action="/select" method="post")
            input(type="hidden" name ="v" value="60대 남성")
            button 60대 남성
        hr